<!DOCTYPE html>
<html>
<head>

<% include ../partials/header.ejs %>

</head>
<body>

<div class="container">
  <h1>Shipping Cost Calculator</h1>
  <h3>Please enter package info:</h3>

  <form action="/rates" method="get">
    <label for="type">Type</label>
    <select id="type" name="type">
      <% for (var key in types) { if (types.hasOwnProperty(key)) { %>
      <option value="<%= key %>"><%= types[key] %></option>
      <% }} %>
    </select>

    <label for="weight">Weight</label>
    <input id="weight" name="weight" type="number" value="1" step="0.1" />

    <input id="submit" type="submit" value="Submit" />
  </form>
</div>

</body>
</html>
