<!DOCTYPE html>
<html>
<head>

<% include ../partials/header.ejs %>

</head>
<body>

<div class="container">
  <h1>Estimated Cost</h1>

  <p><b>Type:</b> <%= type %></p>
  <p><b>Weight:</b> <%= weight %>oz</p>
  <p><b>Price:</b> <%= price %></p>

  <a href="/">
    <p>Back to calculator</p>
  </a>
</div>

</body>
</html>
